<div class="container">
  <div class="row">
    <div class="col l12">
      <h5 class="white-text">Terms and conditions</h5>
      <p class="grey-text text-lighten-4">summoner-infos isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks
        of Riot Games, Inc. League of Legends © Riot Games, Inc.</p>
    </div>
  </div>
</div>
<div class="footer-copyright teal">
  <div class="container row">
    <div class="col s6">
      © 2016 Créé par Nahis_Wayard
    </div>
    <div class="col s6 right-align">
      <a aria-label="Watch NahisWayard/summoner-infos on GitHub" data-style="mega" href="https://github.com/NahisWayard/summoner-infos" class="github-button right-align">Watch</a>
      <a href="https://twitter.com/AragoLilian" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @AragoLilian</a>
      <script>
        ! function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            p = /^http:/.test(d.location) ? 'http' : 'https';
          if (!d.getElementById(id)) {
            js = d.createElement(s);
            js.id = id;
            js.src = p + '://platform.twitter.com/widgets.js';
            fjs.parentNode.insertBefore(js, fjs);
          }
        }(document, 'script', 'twitter-wjs');
      </script>
    </div>
  </div>
</div>
<script async defer id="github-bjs" src="https://buttons.github.io/buttons.js"></script>
