<nav>
  <div class="nav-wrapper teal darken-5">
    <a href="/" class="brand-logo center" id="logo">Summoner's Informations</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
      <li><a href="/champions">Champions List</a></li>
      <li><a href="#">Ratios</a></li>
    </ul>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <form action="/euw/summoner/" method="get">
        <div class="input-field">
          <input placeholder="Pseudo" id="search" name="pseudo" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </ul>
  </div>
</nav>
