<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/Chart.min.js"></script>
<script type="text/javascript">
var socket = io()
$(document).ready(function() {
  $('select').material_select()
})
</script>
