<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
    <title>Summoner Info</title>
</head>

<body>
  <header>
    <% include ./partials/header.ejs %>
  </header>

  <main class="container">
    <i id="data"><%= data %></i>
    <ul id="championList" class="collapsible popout" data-collapsible="accordion">
    </ul>
  </main>

  <footer class="page-footer teal lighten-1">
    <% include ./partials/footer.ejs %>
  </footer>
</body>

<% include ./partials/scriptImport.ejs %>
  <script>
    function displayChampion(champData) {
      $('#championList').append('<li id="' + champData.name + '"><div class="collapsible-header row"><div class="col s1"><img src="/imgs/champion_icons/' + champData.key + '.png' +
        '" class="circle responsive-img icon"></div><div class="col s11"><h3>' + champData.name + '   <label>' + champData.tags + '</label></h3></div></div><div class="collapsible-body row"><div class="col s4 center"><canvas id="statsChart' +
        champData.key + '" width="250" height="250"></canvas><div class="container" style="margin-top: 35px;"><div class="progress"><div class="determinate" style="width: ' + champData.infos.difficulty*10 +'%"></div></div><div>Difficulty: ' + champData.infos.difficulty + '/10</div></div></div><div class="col s8"><div class="row"><div class="col s1"><img title="' + champData.passive.name + '" src="/imgs/passive_icons/' + champData.passive.image +
        '" class="circle responsive-img icon"></div><div class="col s11">' + champData.passive.description + '</div></div><div class="row"><div class="col s1"><img title="' + champData.Q.name + '" src="/imgs/spell_icons/' + champData.Q.image +
        '" class="circle responsive-img icon"></div><div class="col s11">' + champData.Q.description + '</div></div><div class="row"><div class="col s1"><img title="' + champData.W.name + '"src="/imgs/spell_icons/' + champData.W.image +
        '" class="circle responsive-img icon"></div><div class="col s11">' + champData.W.description + '</div></div><div class="row"><div class="col s1"><img title="' + champData.E.name + '" src="/imgs/spell_icons/' + champData.E.image +
        '" class="circle responsive-img icon"></div><div class="col s11">' + champData.E.description + '</div></div><div class="row"><div class="col s1"><img title="' + champData.R.name + '" src="/imgs/spell_icons/' + champData.R.image +
        '" class="circle responsive-img icon" div></div><div class="col s11">  ' + champData.R.description + '</div></div></div></li>')
      var ctx = document.getElementById(champData.canvasId).getContext("2d");
      var data = [{
        value: champData.infos.attack,
        color: "#F7464A",
        highlight: "#FF5A5E",
        label: "Attack"
      }, {
        value: champData.infos.defense,
        color: "#46BFBD",
        highlight: "#5AD3D1",
        label: "Defense"
      }, {
        value: champData.infos.magic,
        color: "#FDB45C",
        highlight: "#FFC870",
        label: "Magic"
      }]
      var myNewChart = new Chart(ctx).Doughnut(data);
    }

    var dataText = $('#data').text()
    dataText = dataText.replace('', '')
      if (dataText == "") {
        window.setTimeout('location.reload()', 3000)
      }else {
        var championList = JSON.parse($('#data').text())
        $('#data').empty()
      }

    for (var i = 0; i < Object.keys(championList.data).length; i++) {
      if (typeof(championList.data[i]) != 'undefined') {
        var champData = {
          name: championList.data[i].name,
          key: championList.data[i].key,
          title: championList.data[i].title,
          infos: championList.data[i].info,
          tags: championList.data[i].tags,
          canvasId: 'statsChart' + championList.data[i].key,

          passive: {
            description: championList.data[i].passive.description,
            image: championList.data[i].passive.image.full,
            name: championList.data[i].passive.name
          },

          Q: {
            description: championList.data[i].spells[0].description,
            image: championList.data[i].spells[0].image.full,
            name: championList.data[i].spells[0].name
          },

          W: {
            description: championList.data[i].spells[1].description,
            image: championList.data[i].spells[1].image.full,
            name: championList.data[i].spells[1].name
          },

          E: {
            description: championList.data[i].spells[2].description,
            image: championList.data[i].spells[2].image.full,
            name: championList.data[i].spells[2].name
          },

          R: {
            description: championList.data[i].spells[3].description,
            image: championList.data[i].spells[3].image.full,
            name: championList.data[i].spells[3].name
          }
        }
        displayChampion(champData)
      }
    }
  </script>

</html>
