<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
  <title>Summoner Info</title>
</head>

<body>
  <header>
    <% include ./partials/header.ejs %>
  </header>

  <main>
  </main>

  <footer class="page-footer teal lighten-1">
    <% include ./partials/footer.ejs %>
  </footer>
</body>

<% include ./partials/scriptImport.ejs %>
  <script>
    $(document).ready(function() {
      var socket = io()
  </script>

</html>
