<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
    <title>Summoner Info</title>
</head>

<body>
  <% include ./partials/scriptImport.ejs %>
    <header>
      <% include ./partials/header.ejs %>
    </header>
    <main class="valign-wrapper">
      <div class="container valign">
        <div class="row">
          <div class="col s8 input-field">
            <i class="material-icons prefix">account_circle</i>
            <input id="pseudo" type="text" placeholder="Pseudo">
            <label for="pseudo">Pseudo</label>
          </div>
          <div class="col s4 input-field">
            <select id="region">
              <option value="euw" selected>EUW</option>
              <option value="eune">EUNE</option>
              <option value="na">NA</option>
              <option value="lan">LAN</option>
              <option value="las">LAS</option>
              <option value="tr">TR</option>
              <option value="ru">RU</option>
              <option value="jp">JP</option>
              <option value="oce">OCE</option>
            </select>
            <label>Region</label>
          </div>
          <div class="col s12 center">
            <a class="waves-effect waves-light btn" id="searchbtn" onclick="redirect()">Rechercher</a>
          </div>
        </div>
      </div>
    </main>

    <footer class="page-footer teal lighten-1">
      <% include ./partials/footer.ejs %>
    </footer>
</body>

<script>
  function redirect() {
    if ($('#pseudo').val() != "" && $('#region').val() != "") {
      window.location = '/' + $('#region').val() + '/summoner/' + $('#pseudo').val()
    }
  }
</script>

</html>
