<!DOCTYPE html>
<html>

<head>
  <% include ./partials/head.ejs %>
    <title></title>
</head>

<body>
  <header>
    <% include ./partials/header.ejs %>
  </header>

  <main>
    <div class="container">
      <div class="data">
        <div hidden class="basicInfos" id="<%= basicInfos %>"></div>
        <div hidden class="region" id="<%= region %>"></div>
      </div>
      <div class="row">
        <div class="col s4">
          <div class="col s4">
            <img src="" id="rankIcon" class="maxSize128">
          </div>
          <div class="col s8">
            <p id="leagueName"></p>
            <p id="div_tier"></p>
          </div>
        </div>
        <div class="col s8">
          <div id="Summoner" class="row">
            <img src="" id="summonerIcon" class="col s6 maxSize128">
            <h1 id="summonerName" class="col s6"></h1>
          </div>
          <div id="stats" class="row">
            <div class="col s5" id="lp"></div>
            <div class="col s6" id="kda"></div>
            <div class="col s1" id="winrate"></div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer class="page-footer teal lighten-1">
    <% include ./partials/footer.ejs %>
  </footer>
</body>
<% include ./partials/scriptImport.ejs %>
  <script>
    var basicInfos = JSON.parse($('.basicInfos').attr('id'))
    var region = $('.region').attr('id')
    $('data').empty()
    var id = basicInfos[Object.keys(basicInfos)].id
    var name = basicInfos[Object.keys(basicInfos)].name
    var iconId = basicInfos[Object.keys(basicInfos)].profileIconId

    $('#summonerIcon').attr('src', 'http://ddragon.leagueoflegends.com/cdn/6.3.1/img/profileicon/' + iconId + '.png')
    $('#summonerName').text(name)

    socket.emit('userData', {
      id: id,
      region: region
    })

    socket.on('leagueEntry', function(leagueEntry) {
      console.log(leagueEntry)
      if (typeof(leagueEntry) == "number" && leagueEntry != 200) {
        $('#rankIcon').attr('src', '/imgs/tier_icons/unranked.png')
        $('#leagueName').text('Unranked')
        $('#lp').text('0 LP')
      } else {
        var league = leagueEntry[Object.keys(leagueEntry)][0]
        $('#lp').text(league.entries[0].leaguePoints + ' LP')
        if (league.tier == "CHALLENGER" || league.tier == "MASTER") {
          $('#rankIcon').attr('src', '/imgs/tier_icons/' + league.tier.toLowerCase() + '.png')
          $('#div_tier').text(league.tier)
        } else {
          $('#rankIcon').attr('src', '/imgs/tier_icons/' + league.tier.toLowerCase() + '_' + league.entries[0].division.toLowerCase() + '.png')
          $('#div_tier').text(league.tier + ' ' + league.entries[0].division)
          if (league.entries[0].leaguePoints == 100) {
            $('#lp').text('PROMO :')
            for (var i = 0; i < league.entries[0].miniSeries.progress.length; i++) {
              switch (league.entries[0].miniSeries.progress[i]) {
                case "W":
                console.log('WIN')
                  $('#lp').append('<i class="material-icons">done</i>')
                  break;
                case "L":
                  $('#lp').append('<i class="material-icons">close</i>')
                  break;
                default:
                  $('#lp').append('<i class="material-icons">location_searching</i>')
              }
            }
          }
        }
        $('#leagueName').text(league.name)
        $('#winrate').text(Math.floor(league.entries[0].wins / (league.entries[0].wins + league.entries[0].losses) * 1000) / 10 + '%')
      }
    })

    socket.on('champsStats', function(champsStats) {
      if (champsStats.hasOwnProperty('status')) {
        $('#kda').text('This user has never played in ranked in season 6')
      } else {
        var totalChampionKills = 0
        var totalAssists = 0
        var totalDeaths = 0
        var totalSessions = 0
        for (var i = 0; i < champsStats.champions.length; i++) {
          totalChampionKills = totalChampionKills + champsStats.champions[i].stats.totalChampionKills
          totalAssists = totalAssists + champsStats.champions[i].stats.totalAssists
          totalDeaths = totalDeaths + champsStats.champions[i].stats.totalDeathsPerSession
          totalSessions = totalSessions + champsStats.champions[i].stats.totalSessionsPlayed
        }
        $('#kda').text(Math.floor(totalChampionKills / totalSessions * 10) / 10 + '/' + Math.floor(totalDeaths / totalSessions * 10) / 10 + '/' + Math.floor(totalAssists / totalSessions * 10) / 10)

        //FOR PIE CHART
        /*var winrateChart = new Chart($('#winrateChart').getContext("2d")).Pie([{
          value: league.entries[0].losses,
          color: "#F7464A",
          highlight: "#FF5A5E",
          label: "Red"
        }, {
          value: league.entries[0].wins,
          color: "#46BFBD",
          highlight: "#5AD3D1",
          label: "Green"
        }])*/
      }
    })
    socket.on('matchHistory', function(matchHistory) {
      //console.log(matchHistory)
    })
  </script>

</html>
