body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.autoSize{
  max-width: 100%;
  height: auto;
  width: auto;
}

.maxSize128{
  max-width: 128px;
  max-height: 128px
}
.icon{
  margin-top: 10px;
  max-height: 64px;
  margin-top: 10px;
}
